*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   
}




.nav-links{
    /* background:rgba(11, 10, 16, 0.645); */
    color: rgb(0, 0, 0);
    padding: 1% 10%;
    display:flex;

    justify-content: space-between;
    align-items: center;
    /* padding:auto 6% ; */
    position: fixed;
    transition: .4s all;
    max-width: 100%;
    right:0;
    left: 0;
    z-index: 25;

}
.nav-links-scroll{
    background-color:rgba(0, 0, 0, 0.888);
    color: white;
    padding: 9px 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* padding:auto 6% ; */
    position: fixed;
    max-width: 100%;
    right:0;
    left: 0;
    
    transition: .4s all;
    z-index: 25;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.716);
}


.iconPart{
    display:flex;
    align-items: center;
    justify-content: center;
}

.navList{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
}

.navList li{
    justify-content: space-between;
    list-style: none;
    display:inline;
    position: relative;
    
}
.navList li a{
    font-family: 'Josefin Sans', sans-serif;
    padding-inline: 15px;
    align-items: center;
    text-decoration: none;
    color:white;
    font-weight: 300;
    font-size: 20px;
    padding: 12px;
    text-transform: uppercase;
    transition: .2s all ease-in;
    cursor:default;
    
 display: block;
    

}
.navList li a::before{
    content: '';
    background-color: var(--color-vif-green);
    height:3px;
    position: absolute;
    width: 0;
    left:10px;
    top: 38px;
    right: 0;
    transition: .5s all;
}
.navList li a:hover::before{
    width: 80%;
    left:10px
}
a.active{
    color:var(--color-vif-green)
}
.subscribe{
    padding: 15px;
    border-radius:45px;
   padding-inline: 25px;
    border:1px white solid;
    background-color: transparent;
    color: white;
    font-size: 20px;
   text-decoration: none;
    text-transform: uppercase;
    transition: .5s all ease-out;
    cursor:default;
   
  
}
.subscribe:hover{
    background-color: rgba(255, 255, 255, 0.916);
    color:var(--color-vif-green);
}
.subscribe:active{
    outline: 1px white solid;
    outline-offset: 4px;
}

.circle{
    width: 100px;
    height: 45px;
    background-color:var(--color-green-grass2);
    border-radius: 45%;
    z-index: -1;
    display: block;
}
.circle:after{
    content: 'Hoody';
    font-family:var(--text-font-icon);
    font-weight: 600;
    font-size: 1.8em;
    position: absolute; 
    left:11%;
    color: #fafffd;


}



.menu-burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}

.menu-btn-burger{
    display: flex;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px  rgba(255, 254, 253, 0.2);
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after{
    content: '';
    position: absolute;
    
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 254, 253, 0.2);
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before{
    transform: translateY(14px);
}
.menu-btn-burger::after{
    transform: translateY(-14px);  
}

/*Animation*/

.menu-burger.open .menu-btn-burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-burger.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
   
}
.menu-burger.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

@media screen and (max-width:1063px) {
    .nav-links{
      
      max-width: 100%;
      margin: 0;

    }
    .navList{
        display:flex;
        flex-direction: column;
        line-height: 3em;
        padding: 25px;
        background:radial-gradient(circle,#1a1a1a,#1b1a1a);
        /* border-top-left-radius: 50%; 
        border-bottom-left-radius: 50%; */
        width: 50%;
        position: absolute;
        right: 0px;
        top:0px;
        transition: .6s ease;
        transform: translateX(100%);
      
        padding-top: 45px;
       
    }
    .menu-burger{
        display: flex;
        z-index: 15;
    }
.navList li a:before{
    content: '';
    background-color: var(--color-vif-green);
    height:3px;
    position: absolute;
    width: 0;
    left:10px;
    top: 45px;
    right: 0;
    transition: .5s all;
}
}
