.services{
    background:var(--color-dark-green);
    opacity: .9;
    width:90%;
    max-width: 100%;
    margin: auto;
    height:auto;
  
}



.services h1{
    z-index: 2;
    color:#f1f1f1;

}


.service-parts{
    padding: 1.2rem 4rem;
    color: whitesmoke;
     
}


.services-boxes{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* place-items: center; */
    text-align: center;
    gap:2rem;
    margin: auto;
    width: 100%;
}

.S-Box{
    display: grid;
    grid-template-rows:75px 30px 160px 1fr;
    background-color: #f1f1f1ea;
    padding:1rem 2rem;
    color: #1f1f1f;
    width: 100%;
    height:100%;
    max-height: 400px;
    box-shadow: 0px 0px 10px 0px rgba(27, 25, 25, 0.8);
    border-radius: 5px;
   transition: 400ms all ease;
   width: 250px;
}



.icon{
   
    /* background: var(--color-font-orange2); */
    color: #f1f1f1;
   
}
.icon >*{
    padding: 5px;
    font-size: 4rem; 
    border: 1px dashed var(--color-font-orange2);
    background: rgb(244,162,97);
    background: linear-gradient(279deg, rgba(244,162,97,1) 0%, rgba(255,100,47,1) 100%);
    border-radius: 50%;
    transition: 400ms all ease;
}

    .S-Box h4{
    line-height: 1.2;
    }
.S-Box p{
    font-size:90%;
    color: rgb(45, 43, 43);
    width: 100%;
    padding-inline: none;
   height: fit-content;
 
}

.SbTN{
    background: rgb(244,162,97);
    background: linear-gradient(279deg, rgba(244,162,97,1) 0%, rgba(255,100,47,1) 100%);
    
   padding: 1rem 2rem;
   display: flex;
   justify-content: center;
   text-transform: uppercase;
    color:#f1f1f1;
    border-radius: 10px;
    font-weight: 600;
    transition: 400ms all ease;
    
}
.SbTN::after{
    content: '\0027F6 ';
    position: relative;
    padding-left: 5px;
   display: block;
   transform: scale(.5);
    transition:800ms transform ease all;
  

}
.SbTN:hover{
 transform: scale(1.06);
 background: rgb(244,162,97);
 background: linear-gradient(197deg, rgba(244,162,97,1) 0%, rgba(255,100,47,1) 100%);

}
.SbTN:hover::after{
display: block;
transform: scale(1);

}
.S-Box:hover{
    transform: scale(1.05);
    

}
.S-Box:hover  .icon >*{
    transform: rotateY(180deg);
}

@media screen and (max-width:1024px) {
    .services{
     
    width: 100%;
}
}