.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 500px;
  
  .modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    border-bottom:0.2px solid rgb(211, 208, 208) ;
    img{
      width: 200px;
      height: 150px;
    }
  }
  
}

.content-form{
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  .upload{ 
    height: 370px;
    border: 0.1px dashed rgb(192, 192, 192);
    border-radius: 10px;
    background: rgb(235, 234, 234);
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 35px;
    flex-direction: column;
    .upload-content{
      position: relative;
      top: 20px;
      width: 80%;
      height: 45px;
      .file{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        opacity: 0;
        cursor: pointer;
        
      }
      .btnUpload{
        cursor: pointer;
        height: 100%;
        width: 100%;
        text-align: center;
        background: var(--color-btn2);
        // cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: white;
      }
      
    }

    .preview{
      // background-color: rgb(248, 249, 248);
      border-radius: 5px;
      height: 80%;
      width: 90%;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img{
        object-fit: cover;
        border-radius: 5px;
        width: 100%;
      }
      .cloud{
        width: 60px;
        height: 60px;
        color: rgb(163, 161, 161);
      }
    }
  }
  .info{
    background: rgb(235, 234, 234);
    padding: 10px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    .get-info{
      display: flex;
      gap:10px;
      flex-direction: column;

      // type of donation
      .choose-type{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2px;
        width: 100%;
        gap: 10px;
        font-family: var(--font-family);
        border-bottom: 0.2px solid white;
        height: 50px;
        .title{
          font-size: 14px;
          text-align: center;
          margin-bottom: 0;        
        }
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          input{
            width: 15px;
            height: 15px;
          }
        }
      }
      
      //Group of Categories
      .categories , .current-location{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(font-family);
        border-bottom: 0.2px solid white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .title{
          font-size: 14px;
          margin-bottom: 0;
          font-family: var(--font-family);
        }
        select{
          height: 30px;
          width: 150px;
        }
      }

      // ask turn on current location? 
      .current-location{
        .turn-location{
          cursor: pointer;
          width: 15px;
          height:15px;
        }
      }

      //explain of Item
      .explain{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        .title{
          font-size: 14px;
          font-family: var(--font-family);
        }
        textarea{
          padding: 10px;
          font-size: 12px;
          font-family: var(--font-family);
        }
      }
    }
    button{
      height: 35px;
      background-color: var(--color-btn2);
      width: 95%;
      margin: auto;
      margin-bottom: -5px;
    }
  }
}



/* The Close Button */
.close {
  color: rgb(99, 99, 99);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width:1360px) {
  .modal-content{
    width: 60%;
  }
}

@media screen and (max-width:1024px) {
  .modal {
    .modal-content {
      width: 70%;
    }
  }
}

@media screen and (max-width:600px) {
  .modal {
    .modal-content{
      width: 70%;
      height: fit-content;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .content-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    .upload{
      height: fit-content;
      min-height: 250px;
      width: 100%;
      .upload-content{
        height: 40px;
        font-size: 14px;
      }
    }
    
 }
}