*,*::before,*::after{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-facebook:#4267B2;
    --color-twitter:#1DA1F2;
    --color-linkedin:#0e76a8;
    --color-instagram:linear-gradient(45deg, #feda75, #fe7e1e, #d62976, #962fbf, #4f5bd5);
}


     /*===================== ABOUT SECTION =======================*/

.about-main{
    display: flex;
    flex-direction: column;


 
}

.about-main h1{
    background:-webkit-linear-gradient(317deg, rgba(38,70,83,1) 1%, rgba(40,135,127,1) 31%, rgba(38,70,83,1) 68%, rgba(86,92,111,1) 98%);
    /* background: rgb(249,222,172);
background: linear-gradient(228deg,  rgb(156, 82, 22) 75%, rgb(226, 62, 8) 97%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-family: var(--font-header);
    font-weight: 900;
    margin:2rem auto;
}


     /*===================== SECTION 1 =======================*/


.about-sections1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-top: 9rem ;
    border: 2px solid red; */
    margin: 2rem auto;
    width: var(--container-md);
    border: 2px dashed green;
 
}


     /*===================== SECTION 1/LEFT =======================*/

.section-left{
position: relative;
display: block;

}

.section-left::before{
    content: '';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 146px 38px;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 340px;
    left: 18px;
    top: 23px;
    /* background: var(--color-light-green); */
    opacity: .6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    z-index: -2;
}

.about-content{
    position: absolute;
   display: block;
    width:80%;
    max-width: 100%;
    max-height: 100%;
    height:fit-content;
    left: 80px;
    top: 120px;
    padding: 20px 25px;
    background: #FFFFFF;
    background: var(--color-dark-green);
   
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--colo-bg-gray);
}
.about-content::before{
    content: '';
    background-image: url('../../../assets/about-pattern.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
    transform: translate(-10%,-25%);
}

.section-left p{
    overflow: hidden;
    font-family: var(--font-header);
    line-height: 1.8rem;
 
 
}
.learn{
    position: relative;
    right: -100px;
    top: 80px;
    float: right;
    border: none;
    padding: 1rem 2rem;

    /* border: 1px solid rgba(255, 255, 255, 0.633); */
    font-variant-caps: all-petite-caps;
   transition: 400ms ease-in-out;
   background-color: transparent;
   /* background-color: var(--color-dark-green); */
   color: var(--color-dark-green);
   font-weight: 600;
   border:2px solid  var(--color-dark-green);
  
 
}

.learn::before{
    content:'';
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top:8px;
    left:8px;
    background-color: var(--color-light-green);
    
    color:white;
    animation: moveOn 1s ease-in forwards;
    transition: 400ms all ease;
    
}
@keyframes moveOn {
    from{
        top:0;
        opacity: .7;
    }
    to{
        top:8px;
    }
}
/* .learn:hover{
    
    top:92px;
    right:-100px;
} */

.learn:hover::before{

    transform: translate(-8px,-8px);
 
}

     /*===================== SECTION 1/RIGHT =======================*/


.section-right{
    position: relative;
    left: 11.46%;
    right: 2.27%;
    top:0;
animation:fadeIn 1s 2s linear forwards;

}

.section-right .blackImg img{
    width: 80%;
    border-radius:44% 56% 68% 32% / 59% 25% 75% 41% ;
 
    
}




     /*===================== SECTION 2 =======================*/

.about-sections2{
  margin-block: 4rem;
}


     /*===================== SECTION 2/CIRCLES =======================*/

.circles{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
padding: 1rem 2rem .8rem;

}


.background-video{
    background-image:linear-gradient(rgba(16, 16, 16, 0.615),rgba(0, 0, 0, 0.805));
    position: relative;
    width: 100%;
    height:40vh;
  
}

.video{
    right: 0;
    bottom: 0;
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 40vh;
   object-fit: cover;
   object-position: center;
}


.circle-content{
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.circle{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    /* padding: 65px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 2rem;
}
.circle .fa-hand-holding-heart,
.circle .fa-handshake,
.circle .fa-shield-heart{
    color: rgb(243, 240, 240);
}



     /*===================== SECTION 2/FOUNDERS =======================*/


.Founders{
    margin-top: 4rem;
    margin-inline: 0;
display: block;
text-align: center;
color: white;
/* background:url('../../../assets/pattern-png.png'); */
/* background-color: rgb(38, 70, 83); */
   /* margin:4rem; */
}
.Founders h1{
    
    background:-webkit-linear-gradient(317deg, rgba(38,70,83,1) 1%, rgba(40,135,127,1) 31%, rgba(38,70,83,1) 68%, rgba(86,92,111,1) 98%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Founders-boxes{
    display: flex;
    align-items: center;
    justify-content:center;
    margin:2rem 5rem;
    color: black;

}
.Founder-box{
    width: 200px;
    height: 220px;
    background-color: white;
    border-radius: 15px;
    margin: 2rem;
    display: block;
    position: relative;
    box-shadow:10px 10px 52px 20px rgba(0, 0, 0, 0.225);
}
.founder-img{
    width: 150px;
    height: 90px;
    position: relative;
    transform: translateY(-50%);
    border-radius:15px ;
    box-shadow:1px 1px 4px 4px rgba(0, 0, 0, 0.129);
    perspective:1000px;
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(1);

}

.content-founder{
    transform: translateY(-20%);
    display: grid;
    grid-template-rows: 20px 60px 40px;
    /* background-color: red; */
    height: 100%;
    padding: 1rem;

}
.content-founder h5{
    transition: 400ms all;
 
}
.content-founder p{
    font-size: .8rem;
}

.social-Contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   
}
.social-Contact li a{
    padding:.4rem;
    border-radius: 80%;
    display: flex;
    /* color:var(--color-black); */
    box-shadow:1px 1px 15px 2px rgba(0, 0, 0, 0.218);
    transition: 400ms transform ease-in-out;

}
.social-Contact li:first-child a{
    color: white;
    background-color: #4267B2;
}

.social-Contact li:nth-child(2) a{
    color: var(--color-twitter);
    background-color: rgb(254, 254, 254);
}

.social-Contact li:nth-child(3) a{
    color:white;
    background-color: var(--color-linkedin);
}

.social-Contact li:nth-child(4) a{
    color: white;
    background: var(--color-instagram);
}


      /*Hover effect*/


.Founder-box:hover .founder-img{
    filter: grayscale(0);
    transform: scale(1.1);
    transform: translateY(-40%);
}
.Founder-box:hover h5{
   color: var(--color-light-green);
 
}

.social-Contact li a:hover{
transform: scale(1.2);
}






@media screen and (max-width:1100px){
    .about-sections1{
        grid-template-columns: 1fr;
        position: relative;
      

    }
    .blackImg{
        display: none;
    }
    .section-left{
        height: 40vh;
    }
}
