*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: rgba(14, 14, 14, 0.507);
  border-radius: 45px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: absolute;
  top: 3%;
  width: 100%;
  z-index: 9999;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  padding: 2% 8%;
  z-index: 9999;
  color: white;
}
.navbar .logo {
  color: white;
}
.navbar .List {
  position: relative;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2.1rem;
}
.navbar .List a {
  color: var(--colo-bg-gray);
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  position: relative;
  font-family: var(--font-header);
  font-weight: 400;
  font-size: var(--font-size);
  transition: 400ms all ease;
}
.navbar .List a:hover {
  color: var(--color-bg1);
}
.navbar .List a.active {
  color: var(--color-bg1);
}
.navbar .List .subscribe {
  border: 1px solid var(--colo-bg-gray);
  border-radius: 35px;
  padding: 10px;
  transition: 400ms all ease;
}
.navbar .List .subscribe:hover {
  background-color: rgba(255, 255, 255, 0.711);
  color: grey;
  outline: 1px solid var(--colo-bg-gray);
  outline-offset: 3px;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

.menu-burger {
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar .List {
    position: absolute;
    display: inline;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 45px;
    text-align: center;
    padding: 1rem 3.3rem;
    top: 4rem;
    visibility: hidden;
    transition: 400ms ease-in;
    -webkit-animation: fadeOutRight 0.3s ease forwards;
            animation: fadeOutRight 0.3s ease forwards;
  }
  .navbar .List a {
    padding-inline: 3rem;
    margin-block: 2.5rem;
  }
  .open .List {
    visibility: visible;
    -webkit-animation: fadeInRight 0.3s ease forwards;
            animation: fadeInRight 0.3s ease forwards;
  }
  .menu-burger {
    display: block;
  }
  .navbar .menu-burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: block;
    border: none;
    z-index: 2;
  }
  .menu-btn-burger {
    display: flex;
    width: 25px;
    height: 3px;
    background: var(--colo-bg-gray);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.4s ease-in-out;
  }
  .menu-btn-burger::before,
.menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--colo-bg-gray);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.4s ease-in-out;
  }
  .menu-btn-burger::before {
    transform: translateY(8px);
  }
  .menu-btn-burger::after {
    transform: translateY(-8px);
  }
  /*Animation*/
  .open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .open .item-list1 {
    -webkit-animation: fadeInRight 0.4s ease-in;
            animation: fadeInRight 0.4s ease-in;
  }
  .open .item-list2 {
    -webkit-animation: fadeInRight 0.5s ease-in;
            animation: fadeInRight 0.5s ease-in;
  }
  .open .item-list3 {
    -webkit-animation: fadeInRight 0.6s ease-in;
            animation: fadeInRight 0.6s ease-in;
  }
  .open .item-list4 {
    -webkit-animation: fadeInRight 0.7s ease-in;
            animation: fadeInRight 0.7s ease-in;
  }
  .open .item-list5 {
    -webkit-animation: fadeInRight 0.8s ease-in;
            animation: fadeInRight 0.8s ease-in;
  }
}/*# sourceMappingURL=Nav.css.map */