*,
*::before,
*::after{
	margin: 0;
	padding: 0;
    outline: 0;
	box-sizing: border-box;
    text-decoration: none;
 
}


// header{
//   background-color: rgba(181, 180, 180, 0.522);
  
//   // background-color: #266453;
   
// }
.header-scroll{
  background-color: rgba(12, 12, 12, 0.722);
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: 400ms all linear;
  animation:slideInDown 1s forwards ease-in;
  //flipInX
 }
.header{
    background-color: rgba(181, 180, 180, 0.522);
    backdrop-filter: blur(8px);
    position: fixed;
    // top: 1%;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid rgba(244, 244, 244, 0.275);
    transition: 400ms all linear;
}
.header.forLogin{
  background-color: var(--color-bg1);
}
.navbar{
    display: flex;
   
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    padding:2% 8%;
    z-index: 9999;
    color: white;
  

    .logo{
       color: white;
    }

    .List{
        position: relative;
        top:0;
        
        display: inline-flex;
        // width: 100%;
       
        align-items: center;
        justify-content: center;
        gap: 2.1rem;
       a{
        color: var(--colo-bg-gray);
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        position: relative;
        font-family: var(--font-header);
        font-weight:400;
        font-size: var(--font-size);
        transition: 400ms all ease;
        z-index:0;
        font-weight: 500;
    
        &::before{
            content: '';
            position: absolute;
            width: 50%;
            height: 5%;
            border-radius: 2px;
            background-color:white;
            z-index: 1;
            bottom: -110%;
            left: 20%;
            transform-origin: right;
            transform: scaleX(1);
            transition: transform 300ms ease-in-out;
            transition: 300ms ease-in-out;

        }
        &:hover::before{
            transform-origin:left;
            transform: scaleX(1);
            width: 100%;
            left: 0;
       
        }
        &:hover{
            color:var(--color-bg1);
        }
        &.active{
            color:var(--color-dark-green);
           
        }

       }

.subscribe{
   
    border: 1px solid rgba(255, 255, 255, 0.481);
    border-radius: 35px;
    padding: 10px;
    transition: 400ms all ease;
    &:hover{
        background-color:rgba(255, 255, 255, 0.711);
        color: grey;
        outline: 1px solid rgba(255, 255, 255, 0.481);
        outline-offset: 3px;
        animation:pulse 1s infinite forwards;
    }
    &::before{
      content: '';
      width: 0;
      height: 0;
    }
}
   }

}


.menu-burger{
    display: none;
}









@media screen and (max-width:780px){

    .navbar{
       
        .List{
            position: absolute;
            display: inline;
            right:4%;
            
            background-color: rgba(5, 5, 5, 0.947);
           
            // border-radius: 45px;
            text-align: center;
            // width: 100%;
            padding:1rem 3.3rem;
            top:4rem;
          visibility: hidden;
          transition: 400ms ease-in;
          animation: flipOutX .3s ease forwards;
            a{
            padding-inline: 3rem;
         margin-block: 2.5rem;
         &::before{
          width: 0;
          height: 0;
         }
          
        
            }
            
         
        }

  


    }

    .open .List{
        visibility:visible;
        animation: flipInX 1s ease forwards;
    
       }
    .menu-burger{
        display: block;
    }

    .navbar  .menu-burger{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .4s ease-in-out;
        display: block;
        border: none;
        z-index: 2;
      }
      
      .menu-btn-burger{
        display: flex;
        width: 25px;
        height:3px;
        background: var(--colo-bg-gray);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .4s ease-in-out;
      
      }
      .menu-btn-burger::before,
      .menu-btn-burger::after{
        content: '';
        position: absolute;
        width: 30px;
        height:3px;
        background: var(--colo-bg-gray);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .4s ease-in-out;
      }
      .menu-btn-burger::before{
        transform: translateY(8px);
      }
      .menu-btn-burger::after{
        transform: translateY(-8px);  
      }
      
      /*Animation*/
      
      .open .menu-btn-burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      
      .open .menu-btn-burger::before{
        transform: rotate(45deg) translate(35px, -35px);
       
      }
      
      .open .menu-btn-burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
      }
  

     .open .item-list1{
        animation: fadeInRight .4s ease-in;
      }
      .open .item-list2{
        animation:fadeInRight .5s ease-in;
      }
      .open .item-list3{
        animation:fadeInRight .6s ease-in;
      }
      .open .item-list4{
        animation: fadeInRight .7s ease-in;
      }

      // .open .item-list5{
      //   animation: fadeInRight .8s ease-in normal forwards;
      // }
    
}