.home{
   width: 100%;
   display: flex;
   justify-content: center;
   height: auto;
   background: linear-gradient(45deg,rgba(0, 0, 0, 0.934),rgba(1, 19, 18, 0.614),rgba(1, 19, 18, 0.89)),url('../../../assets/image1.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   background-attachment: fixed;

   overflow: hidden;
   
}

.home::before{
    content: '';
    position: absolute;
    background:url('../../../assets/test/hexagone.png');
    background-size: cover;
    filter: invert(1);
    opacity: .5;
    /* transform: rotate(5deg); */
    /* border-radius:71% 29% 0% 100% / 100% 0% 100% 0% ; */
    height: 100%;
        width: 400px;
        top: 0;
        bottom: 0;
        right: -1%;
        animation:bounceInRight 2s  forwards;

}
.home::after{
    content: '';
    position: absolute;
    background:url('../../../assets/test/hexagone.png');
    background-size: cover;
    background-position:right;
    filter: invert(1);
    opacity: .5;

    height: 100%;
    width: 400px;
    top: 0;
    left: -5%;
    animation: bounceInLeft 2s forwards;
}


.circlesHome{
    position: absolute;
    bottom:10%;
    right:4%;
    z-index: 1;

}

.abstract{
   width:200px;
    opacity: .9;
    position: relative;
    filter: drop-shadow(5px 5px 3px rgb(40, 37, 37));
    transform: translate(70%,-180%) rotate(-25deg);
}

.circle1{
    position: absolute;
    width: 150px;
    border: none;
    transform: translate(90%,-120%) rotate(30deg);
    z-index: 1;
    filter: drop-shadow(5px 5px 3px rgba(30, 30, 30, 0.897));
}

.dots{
    position: relative;
 width: 145px;
 filter: grayscale(100%) invert(1);
    opacity: .8;
    z-index: -1;
 transform:rotate(30deg);
    
}




.home-content{
   
    position: absolute;
     top: 35%;
     left: 0%;
    color: aliceblue;
    width:100%;
    text-align: center;
 
}


.letter{
    font-weight: 200;
    display: inline-block;
    font-size: 15vw;
    color: var(--colo-bg-gray);
    text-shadow:5px 5px 3px rgba(30, 30, 30, 0.664);
}
.home-content  h1{
    font-size:3.2rem;
    margin-bottom:1.2rem;
}
.home-content p{
    font-size: 1.1rem;
    text-align: center;
    width: 50%;
    margin: auto;
   
}


.home-content .btn-group{
    padding-top:2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 3rem;
   
}
.btn-group button{
    text-transform: uppercase;
    width: 120px;
    height: 45px;
    font-weight: 600;
    transition: 300ms all ease-in;
}
.join{
    background-color: var(--color-light-green);
    color:var(--colo-bg-gray);
    border: none;
   
}
.join:hover{
    background-color:rgba(255, 255, 255, 0.825);
    color:var(--color-light-green);
}
.donate{
    color: var(--colo-bg-gray);
    background: transparent;
    border:1px solid  var(--colo-bg-gray);

}
.donate:hover{
    border: 1px solid var(--color-light-green);
    color: var(--color-light-green);
}


@media screen and (max-width:1024px){
  
    .video{  
        position: absolute;
        right: 0;
        bottom: 0;
       top: 0;
    }
}