*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.home{
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: center;
   height: auto;
   background: linear-gradient(45deg,rgb(34, 33, 33),rgba(8, 15, 14, 0.777),rgb(0, 0, 0)),url('../../../assets/image1.jpg');
   /* border-bottom-left-radius: 89% ; */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height:100vh;
   overflow: hidden;
   position: relative;
   /* clip-path: polygon(0% 0%,0% 100%,25% 100%,
   25% 25%,75% 25%,75% 75%,
   25% 72%,25% 100%,100% 100%,
   100% 0%); */
}

.home::before{
    content: '';
    position: absolute;
  display: block;
    bottom:0;
    left: 0;
    width: 10%;
    height: 20%;
  
	/* background:  var(--color-font-orange2); */
    background: rgb(249,222,172);
background: linear-gradient(60deg, rgba(249,222,172,1) 36%, rgba(244,162,97,1) 54%, rgba(255,100,47,1) 86%);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    /* transform: rotate(8deg) scale(1.2) translateY(8px); */
    animation: come1 1s ease forwards;
   
}
.home::after{
    content: '';
    position: absolute;
  display: block;
    bottom:0;
    left: 0;
    width: 10%;
    height: 20%;
  
	
    /* background:  var(--color-yellow); */
    background: rgb(249,222,172);
    background: linear-gradient(228deg, rgba(249,222,172,1) 36%, rgba(244,162,97,1) 75%, rgba(255,100,47,1) 97%);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;

    
    animation: come 1s ease forwards;
}
@keyframes come {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: .8;
        transform: translateX(0) rotate(-4deg) scale(1.2);
    }
}
@keyframes come1 {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: .8;
        transform: translateX(10px) rotate(15deg) scale(1.2) translateY(10px);
    }
}

/* .home::before{
    content: '';
    position: absolute;
    background:url('../../../assets/test/hexagone.png');
    background-size: cover;
    filter: invert(1);
    opacity: .5;
    height: 100%;
        width: 25vw;
        top: 0;
        bottom: 0;
        right: -1%;
        animation:bounceInRight 2s  forwards;

} */
/* .home::after{
    content: '';
    position: absolute;
    background:url('../../../assets/test/hexagone.png');
   
    background-size: cover;
    background-position:right;
    filter: invert(1);
    opacity: .5;

    height: 100%;
    width: 25vw;
    top: 0;
    left: -5%;
    animation: bounceInLeft 2s forwards;
} */


.circlesHome{
    position: absolute;
    bottom:10%;
    right:4%;
    z-index: 1;

}

.abstract{
   width:180px;
    opacity: .9;
    position: relative;
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
    transform: translate(70%,-180%) rotate(-25deg);
}

.circle1{
    position: absolute;
    width: 140px;
    border: none;
    transform: translate(90%,-120%) rotate(30deg);
    z-index: 1;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.897));
}

.dots{
    position: relative;
 width: 135px;
 filter: grayscale(100%) invert(1);
    opacity: .8;
    z-index: -1;
 transform:rotate(30deg);
    
}




.home-content{
   
    position: absolute;
     top: 40%;
     left: 0%;
    color: aliceblue;
    width:100%;
    text-align: center;
    z-index: 2;
}


.letter{
    font-weight: 600;
    display: inline-block;
    font-size: 15vw;
    color: rgba(255, 255, 255, 0.54);
    text-shadow:5px 5px 3px rgba(30, 30, 30, 0.316);
}

/* #content{
    
    backdrop-filter: blur(8px);
   
} */

#content{
    width: 100%;
     margin: auto;
     line-height: 1.8;
 }

#content h1{
  color: rgb(237, 237, 237);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.368);
  font-size:3.2rem;
  margin-bottom:1.2rem;
}

/* 
@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  .visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #content h1 {
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.2);
    -webkit-clip-path: url(#lockup-headline-mask-path);
            clip-path: url(#lockup-headline-mask-path);
  }
} */



#content p{
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    width: 50%;
    margin: auto;
   
}
.quote >*{
    /* font-family: var(--font-logo); */
    font-weight: 600;
    /* font-size: 1.8rem; */
    color: var(--color-font-orange2);
   
    /* background-color: black; */
}

.home-content .btn-group{
    padding-top:2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 3rem;
   
}
.btn-group a{
    text-transform: uppercase;
    width: 120px;
    height: 45px;
    font-weight: 400;
    transition: 300ms all ease-in;
   display: flex;
   align-items: center;
  justify-content: center;

}

.join{
   
    background-color: var(--color-light-green);
    color:var(--colo-bg-gray);
    border: none;
    box-shadow: 1px 1px 50px 10px rgba(0, 0, 0, 0.395);
   
}
.join:hover{
    background-color:rgba(255, 255, 255, 0.825);
    box-shadow: none;
    color:var(--color-light-green);

}
/* .join:hover a{


} */
.donate{
    color: var(--colo-bg-gray);
    background: transparent;
    border:1px solid  var(--colo-bg-gray);
    box-shadow: 1px 1px 50px 10px rgba(0, 0, 0, 0.395);

}
.donate:hover{
    border: 1px solid var(--color-light-green);
    color: var(--color-light-green);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.512);
}






/* ------------Mouse Scroll down moving-------------- */

.mouseMove{
    position: absolute;
    width: 200px;
    height: 140px;
    padding-right: 3.5rem;
    bottom: 0px;
    right: 18%;
    text-align: right;
    border-right: 2px dashed rgba(255, 255, 255, 0.3);

    z-index: 2;
}

.mouseScroll{
    
    color: white;
    position: absolute;
    right: -1.31rem;
    bottom: 0;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    animation: vertical 3s ease infinite;

}
@-webkit-keyframes vertical {
    0%,
      60%,
      80%,
      100% {
      -webkit-transform: translateY(0); }
    20% {
      -webkit-transform: translateY(-80px); }
    40% {
      -webkit-transform: translateY(-10px); } }
  @keyframes vertical {
    0%,
      60%,
      80%,
      100% {
      -webkit-transform: translateY(0); }
      20% {
        -webkit-transform: translateY(-80px); }
      40% {
        -webkit-transform: translateY(-10px); } }
.endPoint{
    position: absolute;
    bottom:60px;
    right: -.37rem;
    background-color: white;
    width: 10px;
    height: 10px;
   border-radius: 50%;
   margin-bottom:10vh;
   
}




@media screen and (max-width:1024px){
  .home{
    width: 100%;
    height: 80vh;
  }
  .mouseMove{
    top: 0;
    right: 45px;
 
}
.mouseScroll{
    font-size: 1.8rem;
    right: -1rem;
    bottom: 12px;
}
.endPoint{
    position: absolute;
    top:130px;
    width: 8px;
    height: 8px;

}
  
    .video{  
        position: absolute;
        right: 0;
        bottom: 0;
       top: 0;
    }
    .home-content{
   
         top: 50%;
       
    }
    #content h1{
     
        font-size:2.5rem;
      }
      
      #content p{
        font-size: 1rem;
       
        width: 80%;
    }

    
}


@media screen and (max-width:750px){
    .home {
        width: 100%;
       height: 80vh;
    }
    .home-content{
        top: 25rem;
    }
    #content{
        width: 100%;
    }
    #content p{
        font-size: .9rem;
         width: 100%;
    }
 
    

}



@media screen and (max-width:475px){

    
   #content h1{
    
       font-size:2.2rem;
     }
     
     #content p{
       font-size: .9rem;
        width: 100%;
   }
   .btn-group a{
    text-transform: uppercase;
    width: 120px;
    height: 35px;
    font-weight: 600;
    font-size: 1rem;
}


}