.admin{
    display: flex;
    .admin-container{
        // background-color: lightblue;
        flex: 6;
        min-height: 100vh;
        .widgets , .charts{
            display: flex;
            align-items: center;
            // justify-content: center;
            padding: 10px;
            gap: 20px;    
        }
        .charts{
            padding: 5px 20px;
        }

    }
}