
  .scrollTop {
    position: fixed; 
    font-size: 3rem;
    right: 50px;
    bottom: 30px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 1s forwards ease-in-out 1;

    transition: opacity 0.4s;
    opacity: 0.7;
    color:  #28877f;
   
  }
  

  .scrollTop:hover{
    opacity: 1;
    /* animation: pulse 1s ease infinite forwards; */
  }
  
  @keyframes fadeIn {

    0%{
      transform: translateY(-100vh);
    }
    100%{
      transform: translateY(0%);
    }
  }
  
